<body>
  <app-facebook-share [routerLink]='[]' class="m-1"></app-facebook-share>
  <app-twitter-share [routerLink]='[]' [text]="'Open-source music player'" class="m-1"></app-twitter-share>

  <nav>
    <ul>
      <li>
        <a [routerLink]='["/home"]'>Home</a>
      </li>
      <li>
        <a [routerLink]='["/about"]'>About</a>
      </li>
      <li>
        <a [routerLink]='["/person",1]'>John Wick</a>
      </li>
      <li>
        <a [routerLink]='["/person",2]'>Hannibal Lecter</a>
      </li>
      <li>
        <a [routerLink]='["/person",3]'>Indiana Jones</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>